/* ..General.. */
.default-background {
    background: rgb(231, 173, 249);
    background: linear-gradient(90deg, rgba(231, 173, 249, 1) 0%, rgba(148, 230, 233, 1) 100%);
}

#container-body{
    margin-top: 65px;
    margin-bottom: 50px;
}

.section-heading{
    text-decoration: underline;
}

#about-me, #my-experience, #my-achievements, #about-this-site{
    padding-top: 65px;
}

/* ..Navigation bar.. */
/* Navigation bar styling */
.navigation-bar-styling {
    background-color: #e7adf9;
    overflow: hidden;
    margin-bottom: 25px;    
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

/* Navigation bar items */
.navigation-bar-styling a {
    float: left;
    display: block;
    padding-left: 20px;
    padding-right: 20px;    
    width: -webkit-fill-available;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

/* Navigation bar items, on hover */
.navigation-bar-styling a:hover {
    background-color: #ddd;
    color: black;
}

/* Navigation bar items, when active */
.navigation-bar-styling a.active {
    background-color: #94e6e9;
    color: #000;
}

/* Hide the link that should open and close the navigation-bar-styling on small screens */
.navigation-bar-styling .icon {
    display: none;
}

/* Body styling */
.company-logo-container{
    margin-bottom: 10px;
}

.company-logo{
    height: 40px;
    vertical-align: middle;
}

.immedia-blue{
    background-color: #5c859e;
}

/* Achievements styling */
.achievements-image-container{
    text-align: center;
}

.achievements-image{
    max-width: 50%;
}

.achievements-image-small{
    max-width: 30%;
}

/* About This Site */
.tool-button{
    margin-right: 10px;
}

.tool-description{
    display: contents;
}

/* ..Contact Me.. */
.contact-me-image{
    width: 40px;
    height: 40px;
}

/* ..Footer.. */
.footer{
    width: 100%;
}

.footer-content{
    text-align: center;
}

/* ..Media queries.. */
/* Styling for small screens */
@media screen and (max-width: 600px) {
    .navigation-bar-styling a:not(:first-child) {
        display: none;
    }

    .navigation-bar-styling a.icon {
        float: right;
        display: block;
    }

    .navigation-bar-styling.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navigation-bar-styling.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    /* About This Site */
    .tool-description{
        display: block;
    }
}